/*  your css code here. If applicable */
             .container {
            background-color: #D3D3D3;
            padding: 10px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex; /* Required by Cypress test */
        }

        li {
            margin-right: 1rem; /* Cypress = 16px */
        }
